{{ define "slack.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{ end }}

{{ define "slack.text" }}
{{ if gt (len .Alerts.Firing) 0 }}
*Alerts Firing:*
{{ range .Alerts.Firing }}
• *Alert:* {{ .Labels.alertname }}
*Severity:* {{ .Labels.severity }}
*Summary:* {{ .Annotations.summary }}
*Description:* {{ .Annotations.description }}
*Started:* {{ .StartsAt | since }}
{{ if .Labels.strategy }}*Strategy:* {{ .Labels.strategy }}{{ end }}
{{ if .Labels.node }}*Node:* {{ .Labels.node }}{{ end }}
{{ end }}
{{ end }}

{{ if gt (len .Alerts.Resolved) 0 }}
*Alerts Resolved:*
{{ range .Alerts.Resolved }}
• *Alert:* {{ .Labels.alertname }}
*Resolved at:* {{ .EndsAt | since }}
{{ end }}
{{ end }}
{{ end }}

{{ define "telegram.message" }}
<b>{{ .Status | toUpper }}{{ if eq .Status "firing" }} ({{ .Alerts.Firing | len }}){{ end }}</b>

{{ if gt (len .Alerts.Firing) 0 }}
<b>🔥 Alerts Firing:</b>
{{ range .Alerts.Firing }}
• <b>Alert:</b> {{ .Labels.alertname }}
<b>Severity:</b> {{ .Labels.severity }}
<b>Summary:</b> {{ .Annotations.summary }}
<b>Description:</b> {{ .Annotations.description }}
<b>Started:</b> {{ .StartsAt | since }}
{{ if .Labels.strategy }}<b>Strategy:</b> {{ .Labels.strategy }}{{ end }}
{{ if .Labels.node }}<b>Node:</b> {{ .Labels.node }}{{ end }}

{{ end }}
{{ end }}

{{ if gt (len .Alerts.Resolved) 0 }}
<b>✅ Alerts Resolved:</b>
{{ range .Alerts.Resolved }}
• <b>Alert:</b> {{ .Labels.alertname }}
<b>Resolved at:</b> {{ .EndsAt | since }}
{{ end }}
{{ end }}
{{ end }} 